<table class="list">
  <% @appointments.each do |appointment| %>
    <tr>
      <td>日時　<%=  appointment.time.strftime("%m/%d %H:%M")%></td>
      <td><%=  appointment.slot.doctor.username%>　先生</td>
      <td><%=  appointment.slot.doctor.department.name%></td>
      <td>
      <%= link_to "キャンセル", patient_doctor_slot_appointment_path(appointment.slot.doctor, appointment.slot, appointment), method: :delete,
              data: { confirm: "予約をキャンセルしますか?" } %>
              </td>
    </tr>
  <% end %>
</table>